.img {
    margin-right: auto;
    display: block;
    margin-left: auto;
    border-radius: 50%;
    border: 1px solid black;
    padding: 5px;
  }

  .p{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }